<div class="row">
    <div class="col">
        *ngIf
        <hr>
        <div class="card text-white bg-danger mb-3" style="width: 100%" *ngIf="mostrar">
            <div class="card-header">Header</div>
            <div class="card-body" >
                <h5 class="card-title">{{frase.mensaje}}</h5>
                <p class="card-text">{{frase.autor}}</p>
            </div>
        </div>
        <button class="btn-outline-primary btn-block" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
    </div>

    <div class="col">
        ngFor
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let elemento of lista; let i = index;">{{i+1}} - {{elemento}}</li>            
        </ul>
    </div>


</div>